<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner v2.4.1</title>
  <script type="text/javascript">
    window.path = "https://hiro-slack-ttt.herokuapp.com/api/games"
  </script>

  <script src="../../app/assets/javascripts/jasmine-2.4.1/lib/jasmine-core/jasmine.js" charset="utf-8"></script>
  <script src="../../app/assets/javascripts/jasmine-2.4.1/lib/jasmine-core/jasmine-html.js" charset="utf-8"></script>
  <script src="../../app/assets/javascripts/jasmine-2.4.1/lib/jasmine-core/boot.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../../app/assets/stylesheets/jasmine.css" charset="utf-8">

  <script src="../../app/assets/javascripts/ApiEndpointsSpec.js" charset="utf-8"></script>
</head>

<body>
</body>
</html>
